.fb {
    width: 100%;
    max-width: 1024px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.fbItem {
    flex: 1;
    gap: 10px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;

}

.fbImg {
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.fbName {
    font-weight: bold;

}

.fbCity {
    font-weight: 300;
}

.fbPrice {
    font-weight: 500;
}

.fbRating>button {
    background-color: #003580;
    color: white;
    border: none;
    padding: 3px;
    margin-right: 10px;
    font-weight: bold;
}

.fbRating>span {
    font-size: 14px;
}